@model IEnumerable<NReddit.Data.Model.Post>

@{
    ViewBag.Title = "Index";
}

@foreach (var post in Model)
{
    <div class="post">
        <div class="upvote">
            <a class="upvote-link"></a>
            <span class="vote-count">@post.Votes</span>
        </div>
        <div class="link">
            <a class="post-link" href="@post.Link">@post.Title</a>
            <span class="post-tagline">@post.Tagline</span>
        </div>
    </div>
}
