@model IEnumerable<NReddit.Models.PostViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="posts">
    @Html.Partial("_PostsPartial", Model)
</div>

<img alt="" id="loadingAnimation" src="~/Content/ajax-loader.gif" style="display:none;"/>

@section Scripts
{
    <script>

        $(document).ready(function() {
            $(document).on('click', '.upvote-link', vote);
            $(window).scroll(appendPosts);
        });

        function vote() {
            var authenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
            if (!authenticated) {
                alert('You must be authenticated before you can vote. Please login.');
                return;
            }

            var voteButton = $(this);
            var postId = voteButton.attr('data-id');
            var voteCountLabel = voteButton.next('.vote-count');
            var voted = voteButton.hasClass('voted');
            if (voted) {
                voteButton.removeClass('voted');
                voteCountLabel.text(parseInt(voteCountLabel.text(), 10) - 1);
            } else {
                voteButton.addClass('voted');
                voteCountLabel.text(parseInt(voteCountLabel.text(), 10) + 1);
            }

            $.get('Home/Vote/' + postId, function(response) {
                    if (!response.Success) {
                        alert(response.Message);
                        return;
                    }
                })
                .fail(function(error) {
            
                });
        }

        var count = 1;
        var loading = false;
        var loadedAll = false;

        function appendPosts() {

            var bottom = $(window).scrollTop() == $(document).height() - $(window).height();
            if (!bottom || loading || loadedAll)  return;
            
            loading = true;
            $('#loadingAnimation').show();

            $.get('Home/InfiniteScroll/' + count, function(response) {
                    $('#loadingAnimation').hide();
                    loading = false;

                    count++;

                    $('#postTemplate')
                        .tmpl(response.Posts)
                        .appendTo('.posts');

                    if (response.Finished) {
                        loadedAll = true;
                    }

                })
                .fail(function(error) {
                    console.log(error);
                });
        }

    </script>

    <script id="postTemplate" type="text/x-jquery-tmpl">
        <div class="post">
            <div class="upvote">

                {{if Voted}}
                <a class="upvote-link voted" data-id="${Id}"></a>
                {{else}}
                <a class="upvote-link" data-id="${Id}"></a>
                {{/if}}
                <span class="vote-count">${Score}</span>
            </div>
            <div class="link">
                <a class="post-link" href="${Link}">${Title}</a>
                <span class="post-tagline">${Tagline}</span>
            </div>
        </div>
    </script>
}