@model IEnumerable<NReddit.Models.PostViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="posts">
    @Html.Partial("_PostsPartial", Model)
</div>

<img alt="" id="loadingAnimation" src="~/Content/ajax-loader.gif" style="display:none;"/>

@section Scripts
{
    <script src="~/Scripts/application.js"></script>
    <script>
        authenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
    </script>

    <script id="postTemplate" type="text/x-jquery-tmpl">
        <div class="post">
            <div class="upvote">

                {{if Voted}}
                <a class="upvote-link voted" data-id="${Id}"></a>
                {{else}}
                <a class="upvote-link" data-id="${Id}"></a>
                {{/if}}
                <span class="vote-count">${Score}</span>
            </div>
            <div class="link">
                <a class="post-link" href="${Link}">${Title}</a>
                <span class="post-tagline">${Tagline}</span>
            </div>
        </div>
    </script>
}