<ul>

    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Submit Post", "Post", "Home")</li>
        using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "signOutForm" }))
        {
            @Html.AntiForgeryToken()
            <li><a href="javascript:document.getElementById('signOutForm').submit()">Sign Out</a></li>
        }
    }
    else
    {
        <li>@Html.ActionLink("Click here to login or register", "Login", "Account")</li>
    }
</ul>
