$accentColor: #428BCA;

@mixin box-sizing($value)
{       
    -webkit-box-sizing: $value;
       -moz-box-sizing: $value;
            box-sizing: $value;
}

body 
{
    @include box-sizing(border-box);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #242A30;
}

.centered-container 
{
    max-width: 985px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 25px;
}

a
{
    text-decoration: none;
    color: inherit;
}

h1
{
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 20px;
}

h2
{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

header 
{
    overflow: hidden;
    margin: 20px 0;

    h1
    {
        float:left;
        margin: 0;
    }

    nav
    {
        float: right;
        
        ul
        {
            list-style: none;

            form
            {
                display: inline;
            }

            li
            {
                margin-left: 5px;
                display: inline;

                a 
                {
                    background: $accentColor;
                    color: white;
                    padding: 5px 15px;
                }

                a:hover
                {
                    background: darken($accentColor, 5%);
                }
            }
        }
    }
}

.post 
{
    overflow: hidden;
    padding: 9.5px;
    border-bottom: 1px solid #F1F1F1;

    .upvote 
    {
        float: left;
        margin-right: 15px;
        text-align: center;

        .upvote-link 
        {
            position: relative;
            bottom: 14px;
            cursor: pointer;
            border-top: 12px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 12px solid #bbb;
            border-left: 7px solid transparent;
        }
        
        .voted
        {
            border-bottom: 12px solid $accentColor;
        }

        .upvote-link:hover 
        {
            border-bottom: 12px solid $accentColor;
        }

        .vote-count 
        {
            font-size: 13px;
            display: block;
        }
    }

    .link 
    {
        padding-top: 11px;

        .post-link 
        {
            font-size: 18px;
            color: $accentColor;
            margin-right:5px;
            font-weight: 600;
        }
        
        .post-tagline
        {
            font-size: 17px;
        }
    }
}

form 
{
    input 
    {
        padding: 10px;
        font-size: 16px;
        width: 400px;
        margin-bottom: 11px;
    }

    input:focus
    {
        outline: none;
    }

    .text-box
    {
        border: 1px solid rgba(0, 0, 0, .1);
    }

    .text-box:focus
    {
        border: 1px solid #999999;
    }

    input[type="submit"] 
    {
        @include box-sizing(content-box);
        cursor: pointer;
        border: none;
        background: #54b44e;
        color: white;
    }

    input[type="submit"]:hover
    {
        background: darken(#54b44e, 5%);
    }

    .field-validation-error
    {
        margin-left: 10px;
        color: red;
    }

    + a 
    {
        color: rgb(0, 148, 218);
    }
}


.validation-summary-errors
{
    color: red;

    ul
    {
        padding-left: 0;

        li
        {
            list-style:none;
        }
    }
}

.posts
{
    margin-bottom:20px;
}