@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body 
{
    font-family: 'Open Sans',sans-serif;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;  
            box-sizing: border-box;
}

.centered-container 
{
    margin: auto;
    max-width: 960px;
}

.post 
{
    overflow: hidden;
    padding: .6em;
    border-bottom: 1px solid #F1F1F1;

    .upvote 
    {
        float: left;
        margin-right: 15px;
        text-align: center;

        .upvote-link 
        {
            position: relative;
            bottom: 14px;
            cursor: pointer;
            border-top: 12px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 12px solid #bbb;
            border-left: 7px solid transparent;
        }

        .upvote-link:hover 
        {
            border-bottom: 12px solid #62AEB9;
        }

        .vote-count 
        {
            font-size: 13px;
            display: block;
        }
    }

    .link 
    {
        padding-top: 11px;

        .post-link 
        {
            font-size: 17px;
            text-decoration: none;
            color: #62aeb9;
        }
        
        .post-tagline
        {
            font-size: 13px;
        }
    }
}
